.entryImg {
    padding-top: 5px;
    height: auto;
    max-width: 100%;
    border-radius: 0 !important;
    
}
.entryImg:hover {
    opacity: 0.9;
    cursor: pointer;
    transition: 0.5s;
    
}
.gallery {
    
    margin-top: 5px;
}
@media (max-width: 600px) {
    .entryImg {
      width: 100%;
      height: auto;
    }
  }

