h1 {
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
}
.logo {
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

/* Main Section */
#main {
  position: absolute;
  top: 15em;
  width:100%;
  text-align: center;
}
.entry-page {
  margin: 50px auto;
}

.btn {
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
}

.entryImg {
  height: auto;
  max-width: 100%;
  width: fit-content;

}



