.textField{
    padding-top: 2rem;
    width: 45%;
    margin: 0 auto;
}
.name {
    padding: 0.5rem;
    text-align: center;
    font-family: 'Roboto', cursive;
    font-size: 4rem;
}

@media screen and (max-width: 992px) {
    .name {
        font-size: 2rem;
    }
}