.contactH1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 3.5rem;
  color: #7f7f7f;
  margin-bottom: 2rem; /* Dodaj margines na dole, aby oddzielić od sekcji poniżej */
}

.contact-btn {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #7f7f7f; 
  font-size: 2rem;
  border: none !important;
  border-radius: 0;  
  cursor: pointer;  
}
.contact-btn:active  {
  outline: none !important;
}
.contact-btn:focus  {
  outline: none  !important;
}
.contactH1,
.contact-btn,
.contact-social-icons {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contact-btn:hover {
  color: rgb(185, 152, 108); 
}
.contactAndFormContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactAndFormContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  align-items: center; /* Dodane, aby wyśrodkować elementy w pionie */
}

.contact-left-side,
.contact-right-side {
  flex: 1;
  width: 45%; /* Zmniejszono szerokość, aby zmieściły się obok siebie */
  height: auto;
  box-sizing: border-box;
  padding: 1rem;
}

.contact-left-side {
  left: 0;
}

.contact-right-side {
  position: relative; /* Zmieniono na relative, aby były obok siebie */
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.contact-social-icons {
  margin-top: 20px;
}

.contact-icon {
  font-size: 2rem;
  color: black; 
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  margin:2rem;
}

.contact-right-side .contactH1,
.contact-right-side .contact-icon {
  color: black; 
}

@media (max-width: 768px) {
  .contactAndFormSection {
    flex-direction: column;
  }

  .contact-left-side,
  .contact-right-side {
    position: relative;
    width: 100%;
    height: 50vh; 
  }

  .contact-background-image {
    position: relative;
  }

  .contact-right-side {
    justify-content: flex-end;
  }
  .contactH1 {
    margin: 4rem 0 0 0;
    text-align: center; 
  }
}
@media (max-width: 768px) {
  .contact-right-side {
    height: 30vh;  
  }
}
@media (max-width: 768px) {
  .contactAndFormContainer {
    flex-direction: column;
    align-items: center;
  }

  .contact-left-side,
  .contact-right-side {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1200px) {
  .contactAndFormSection {
    flex-direction: column;
  }

  .contact-left-side,
  .contact-right-side {
    position: relative;
    width: 100%;
    height: auto; 
  }

  .contact-background-image {
    position: relative;
  }

  .contact-right-side {
    justify-content: flex-end;
    height: 30vh; /* Ustawiono wysokość na 30vh */
  }

  .contactH1 {
    margin: 4rem 0 0 0;
    text-align: center;
  }

  .contactAndFormContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .contactAndFormContainer {
    flex-direction: column;
    align-items: center;
  }

  .contact-left-side,
  .contact-right-side {
    width: 100%;
    height: auto;
  }
}