.navbar-inner {
    background: rgba(0,0,0,0);
    /* position: absolute;
    width:100%; */
 }
 .navbar-contact {
    position: absolute;
    width: 100%;
 }
 .brand {
    color:white;
    font-family: 'Caveat', cursive;
    font-size: 2rem;
}

.nav-item {
   
}

.nav-item:hover {
    transition: 0.5s;
    transform: scale(1.2);
}