.footer {
   background: rgba(0,0,0,0);
  
}

.copyright {
   font-family: "Helvetica Neue", Arial, sans-serif;
}
.centerCopyright {
   text-align: center !important;
   padding: 0 !important;
   margin: 0 !important;
}

@media (max-width: 768px) {
   .custom-nav {
     flex-direction: column !important; 
     justify-content: center !important;
     align-items: center !important;
     margin: 1rem 0 1rem 0;
     padding: 0;
   }
 
   .icon {
      align-items: center !important;
      justify-content: center ;
   }
   .copyright{
      margin: auto !important;
      padding: 0 !important;
   }
}
 